body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: center;
    background-color: #252323; /* This sets the dark grey background color */
    margin: 0; /* It's good practice to reset default margin */
    height: 100vh;
}

header {
    height: 142px;
}

.flex-container {
    display: flex;
    height: 682px;
}

.flex-container div {
   
}

.left-side {
    background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    width: 35%;
}

.right-side {
    background-color: white;
    width: 65%;
    padding-top: 100px;
    padding-left: 20px;
}

.signup-form {
    display: grid;
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 200px 200px ;
    gap: 50px;
    
}

.signup-form p, h2{
    text-align: left;
    padding-left: 10px;
    
}

.form {
    

}

.form-group {
    
}

.form-group label {
    width: 1000px;
}

.form-group input {
    height: 20px;
}
